- content_for :title do
  Sequence Complements


= form_with url: sequence_complement_path, data: {turbo_frame: 'nucleic-acid-sequence'} do |f|
  .mb-3.me-3
    = f.label :sequence, class: 'form-label'
    = f.text_area :sequence, class: 'form-control'

  .mb-3
    = f.submit 'Submit', class: 'btn btn-primary'

%turbo-frame#nucleic-acid-sequence